.xgrey {
  background-color: yellow;
}

.xgrid-grey {
background-color: yellow;
}

.xgrid-red {
background-color: yellow;
}

.xgrid-dict grid-red {
background-color: yellow;
}

.xgrid-dict grid-grey {
background-color: yellow;
}
